:root {
  --primary-black-color: #2e2f42;
  --primary-white-color: #ffffff;
  --primary-accent-color: #434455;
  --secondary-accent-color: #4d5ae5;
  --active-color: #404bbf;
  --secondary-white-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-accent-color);
  background-color: var(--primary-white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.link:active {
  color: var(--active-color);
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 318px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/**-----------------MOBILE HEADER-------------------*/

.header-menu {
  display: none;
}

.header-address-list {
  display: none;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

.span-logo-header {
  color: var(--primary-black-color);
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
  fill: #2f2f37;
  margin-left: auto;
}

.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ffffff;
  transform: translateX(100%);
}

.mobile-menu-wrapper.is-open {
  transform: translateX(0);
  transition: transform 250ms linear;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 8px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  line-height: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: #e7e9fc;
  fill: var(--primary-black-color);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--active-color);
}

/**-----------------TABLET HEADER-------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
}

/**-----------------DESKTOP HEADER-------------------*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
